
.About p{
    padding-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .About{
    padding-top: 150px;
    padding-bottom: 400px;
    font-size: 1.25rem;
  }
  
  .furries {
    width: 50%;
    height: 50%;
    mix-blend-mode:multiply;

  }

  h4{
    font-size: 1.75rem; 
    text-align: center;
  }

