img.furries {
    margin-left:auto;
    margin-left:auto;
    max-width: 100%;
    height: auto;
    padding:0%;
    padding-bottom: 1%;
}

Container.About {
  display: inline-block;
  overflow-wrap: break-word;
}

p {
  text-align: justify;
}

p.bio {
  font-size: auto;
  margin-top: 5px;
  padding-bottom: 1%;
}

div.info-img.row {
  display: inline;

} 

.h2 {
    text-align: center;
    padding: 1%;
    margin-bottom: 5%;
    background-color: rgb(56, 14, 14);
    color: white;
}