h3 {
  font-size: 2.5rem;
  text-align: center;
}

.contact {
  margin: 0% 10% 0% 15%;
  padding-top: 200px;
  padding-bottom: 400px;
  width: 100%;
  font-size: 1.25rem;
  text-align: left;
}

Label {
  font-size: 1.75rem;
}

Input {
  display: block;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1.5rem;
  border: 1px solid #484848;
  border-radius: 0.8rem;
}

Button {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 0.8rem;
}

.sub{
  background-color: rgb(6, 87, 87);
  font-size: 1.5rem;
}

P{
  font-size: 1.25rem;
}

