.card{
    max-width: 100%;
    align-items: center;    
}

div.card{
    margin-top: 3%;
    padding: 1%;
    margin-left:0%;
}

.checkout-input {
    max-width: 70%; 
}


.checkout-input1{
    margin-right: 1%;
    max-width: 35%;
    display: inline;
}

.checkout-input2{
    max-width: 50%;
}

.confirmation-payment{
    background-color: rgb(6, 87, 87);
    border: none;
}