.container {
    display: inline-flexbox;
    flex-wrap: wrap;
    margin-top:2%;
    margin-bottom:2%;
}

.card-body{
    margin-left: 5%;
    width: 35%;
    height: 35%;
    text-align: center;
}

div.card-body {
    padding: 1%;
    border-radius: 3%;
    background-color: coral;
}

li {
    list-style: none;
}

.card-title {
    margin-top: 2%;
}

.furry {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    height: 80%;
}

.furry:hover {
    transform: scale(1.2);
}


