.container {
    display: inline-flexbox;
    flex-wrap: wrap;
    margin-top:2%;
    margin-bottom:2%;
 
}

.card{
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 100%;
    text-align: center;
}

div.card {
    margin-top: 25%;
    padding: 1%;
    border-radius: 3%;
    background-color: coral;
    list-style: none;
    text-decoration: none;

}

li {
    list-style: none;
}

div.Card-title {
    margin-top: 2%;
}

.furry {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
}

.furry:hover {
    transform: scale(1.2);
}


