/* * {
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    color: black;
  } */
  
  .App {
    text-align: center;
  }

  .LinkList {
    color: rgb(155, 29, 29);
    padding: 0px 10px 0px 10px;
    border-right: 1px solid black;
    font-size:1.25rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .active{
    color: rgb(11, 44, 230);
    font-weight: bold;
    text-decoration: underline;
  }  
  
  .footer {
    background-color: rgb(56, 14, 14);
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
  }
  
  .footer p{
    padding-top: 3%;
    color: white;
    text-align: center;
  }
