/* * {
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    color: black;
  } */
  
.App {
    text-align: center;
  }

.linklist {
    padding: 0px 10px 0px 10px;
    font-size:1.25rem;
    font-weight: bold;
    background-color: #CD7F32;
  }
  
.footer {
    background-color: rgb(56, 14, 14);
    margin-top: 10%;
    position:relative; bottom: -50px;;
    left: 0;
    width: 100%;
    color: white;
  }

.header {
    background-color: rgb(56, 14, 14);
    left: 0;
    width: 100%;
    color: white;
    padding: 2%;
}
  
.footer p{
    padding-top: 3%;
    color: white;
    text-align: center;
}

.icons {
  margin-top: 5%;
}

.github {
  height: 50%;
  width: auto;
  margin-top: 5%;
}

img.doggie {
  margin-top: 5%;
  margin-bottom: 5%;
}

img.doggie1{
  margin-top: 2%;
}

